.DS_Store
node_modules
.turbo
*.log
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist

# AppSync resolver build artifacts
packages/appsync-resolvers/build

# Ignore CDK out dir
cdk.out/

# Tanstack
**/*/.tanstack
**/*/.add-on